body{
    font-family: 'Noto Serif', serif;
}
img{
    max-width: 150px;
}
.main{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 350px;
    min-height: 400px;
    padding:3rem;
    border-radius:0.5rem;
    border:1px solid #e1e1e1;
    text-align: center;
}
.main .field{
    display: inline-block;
    height: 40px;
    position:relative
}

h1{
    font-size: 30px;
}

h3{
    font-size: 20px;
    font-weight: normal;
}

.inputItems{
    font-size: 18px;
    width: 270px;
    border: 1px solid black;
    border-radius: 4px;
    height: 28px;
    margin: 15px 1px 5px 1px;
    padding: 10px 12px;
    transition: 0.3s;
    opacity: 0.5;
}

.formHead{
    opacity: 1;
    transition: 0.5s;
}
.fieldset h1{
    font-weight: normal;
    font-size: 1rem;
    margin: -5px 4px -10px;
    position: relative;
    top: -60px;
}
.fieldset h1 span{
    float: left;
    color: blue;
    font-size: 14px;
}
.fieldset h1::before{
    border-top: 2px solid black;
    content: '';
    float: left;
    margin: 0.5em  2px 0 -1px;
    width: 0.75em;
}
.fieldset h1::after{
    border-top: 2px solid black;
    content: ' ';
    display: block;
    height: 1.5em;
    left: 2px;
    margin: 0 1px 0 0;
    overflow: hidden;
    position: relative;
    top: 0.5em;
}
.placeholder{
    position: absolute;
    left:20px;
    top:26px;
    color:#80868b;
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
    transition:0.4s
  }
input:focus ~ label.placeholder,
input:valid ~ label.placeholder {
  top:3px;
  font-size: 10px;
  opacity: 0;
}
input:focus + .formHead,input:valid + .formHead{
    opacity: 1;
}
button{
    cursor: pointer;
    border:1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42;
    color:white;
    border-radius: 4px;
    background-color: #1a73e8;
    outline: none;
    min-width: 88px;
}


    
